In [13]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from scipy.stats import chi2_contingency
dataset=pd.read_csv("general_data.csv")
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [14]:
dataset["NumCompaniesWorked"].fillna(dataset['NumCompaniesWorked'].mean(),inplace=True)
dataset["TotalWorkingYears"].fillna(dataset['TotalWorkingYears'].mean(),inplace=True)
dataset.drop(['EmployeeID', 'EmployeeCount','Over18','StandardHours'],axis=1,inplace=True)

In [15]:
dataset['Attrition'].replace({'No': 0, 'Yes': 1},inplace = True)
dataset['Gender'].replace({'Female': 0, 'Male': 1},inplace = True)
dataset['Department'].replace({'Sales': 0, 'Research & Development': 1, 'Human Resources' : 2},inplace = True)
dataset['EducationField'].replace({'Life Sciences': 0, 'Other': 1, 'Marketing' : 2, 'Medical':3, 'Technical Degree':4, 'Human Resources' : 5 },inplace = True)
dataset['BusinessTravel'].replace({'Travel_Rarely': 3, 'Travel_Frequently': 2,'Non-Travel': 1},inplace = True)
dataset['MaritalStatus'].replace({'Married': 0, 'Single': 2,'Divorced': 1},inplace = True)

In [16]:
data_Yes = dataset[dataset['Attrition']==1]
data_No = dataset[dataset['Attrition']==0]

# Statistical Tests On Given Data
1. MannWhinteny Test
Attrition Vs DistanceFromHome

In [17]:
from scipy.stats import mannwhitneyu

In [18]:

stats,p = mannwhitneyu(data_Yes.DistanceFromHome,data_No.DistanceFromHome)
print(stats,p)

if(p<0.05):
    print("Reject the H0 Hypothesis")
else:
    print("Accept the Ha Hypothesis")

1312110.0 0.4629185205822659
Accept the Ha Hypothesis

# Attrition Vs Income

In [19]:
stats,p = mannwhitneyu(data_Yes.MonthlyIncome,data_No.MonthlyIncome)
print(stats,p)

if(p<0.05):
    print("Reject the H0 Hypothesis")
else:
    print("Accept the Ha Hypothesis")

1264900.5 0.053577283839938566
Accept the Ha Hypothesis

# Separate T Test
Attrition Vs Distance From Home

In [20]:
from scipy.stats import ttest_ind

In [21]:

stats,p = ttest_ind(data_Yes.DistanceFromHome,data_No.DistanceFromHome)
print(stats,p)
if(p<0.05):
    print("Rejects H0 Hypothesis")
else:
    print("Accept Ha Hypothesis")

-0.6460416038042738 0.518286042805572
Accept Ha Hypothesis

# Attrition Vs Income

In [22]:
stats,p = ttest_ind(data_Yes.MonthlyIncome,data_No.MonthlyIncome)
print(stats,p)
if(p<0.05):
    print("Rejects H0 Hypothesis")
else:
    print("Accept Ha Hypothesis")

-2.0708863763619316 0.03842748490605113
Rejects H0 Hypothesis

# Attrition Vs Years At Company

In [23]:
stats,p = ttest_ind(data_Yes.YearsAtCompany,data_No.YearsAtCompany)
print(stats,p)
if(p<0.05):
    print("Rejects H0 Hypothesis")
else:
    print("Accept Ha Hypothesis")

-9.004357011787226 3.163883122491456e-19
Rejects H0 Hypothesis

In [31]:
from scipy.stats import friedmanchisquare

In [24]:
from scipy.stats import friedmanchisquare
stats,p=friedmanchisquare(data_Yes.TrainingTimesLastYear,data_Yes.YearsAtCompany,data_Yes.YearsSinceLastPromotion)
print(stats,p)
#there is no significance difference TrainingTimesLastYear YearsAtCompany and yearssincelast promotion.
if p<0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

525.9236111111114 6.26814300144918e-115
Reject null hypothesis

In [25]:
from scipy.stats import ttest_ind
stats,p=ttest_ind(data_Yes.Education,data_Yes.Education)
print(stats,p)
#there is no significance difference between Attrition and mean of Education with respect to attrition yes or no.
if p<0.05:
    print("Reject Null hypothesis")
else:
    print("Accept Null hypothesis")

0.0 1.0
Accept Null hypothesis

#### Wilcoxon test
 Ho = There is no significant difference NumCompaniesWorked and Attrition
 Ha = There is  significant difference NumCompaniesWorked and Attrition

In [28]:
from scipy.stats import wilcoxon
stats,p = wilcoxon(data_Yes.Attrition,data_Yes.NumCompaniesWorked)
print(stats,p)
if p<0.05:
    print("Reject Null hypothesis")
else:
    print("Accept Null hypothesis")

4071.0 1.5510994496833758e-58
Reject Null hypothesis

# Friedman  chi square Test
Ho = There is no significant difference NumCompaniesWorked and Attrition and Years Since Last Promotion
 Ha = There is  significant difference NumCompaniesWorked and Attrition and Years Since Last Promotion

In [29]:

from scipy.stats import friedmanchisquare
p,stats = friedmanchisquare(data_Yes.YearsSinceLastPromotion,data_Yes.Attrition,data_Yes.NumCompaniesWorked)
print(stats,p)
if p<0.05:
    print("Reject Null hypothesis")
else:
    print("Accept Null hypothesis")

6.258130277802956e-48 217.380406001765
Accept Null hypothesis

# Two Sample Independent T test
H0: There is no significant difference in the average means of age between attrition and non attrition employess
Ha: There is Aa significant difference in the average means of age between attrition and non attrition employess

In [30]:

stats,p = ttest_ind(data_Yes.Age, data_No.Age)
print(stats,p)

if(p<0.05):
    print("Null Hypothesis is regected")
else:
    print("Null Hypothesis is accepted")

-10.70661860061757 1.9968016158894556e-26
Null Hypothesis is regected