# Assignment Day 6 | 14th July 2020

Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [25]:
Email = input("Enter your email id:")
company = Email.split("@")[1].split(".")[0]
print( "Your Email compny name is :",company)

Enter your email id:letsupgrade@gmail.co.in
Your Email compny name is : gmail

In [ ]:
Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [26]:
items = input("Input comma separated sequence of words: ")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of words: jan,feb,mar,apr,mar,june
apr,feb,jan,june,mar

Question 3:
Create your own Jupyter Notebook for Sets

In [20]:

set1={"virat","sachin","yuvraj"}
print(set1)
# Access item from set
print("dhoni" in set1)
# Add item:
set1.add("dhoni")
print(set1)
# get the length
print(len(set1))
# remove item
set1.remove("sachin")
print(set1)

#pop the item
x=set1.pop()
print("pop the element:",x)
print(set1)

set1.clear()
print(set1)

{'sachin', 'virat', 'yuvraj'}
False
{'sachin', 'virat', 'dhoni', 'yuvraj'}
4
{'virat', 'dhoni', 'yuvraj'}
pop the element: virat
{'dhoni', 'yuvraj'}
set()

In [24]:
# join sets
set1 = {"rohit", "rahul" , "ajinkya"}
set2 = {"dhawan", "prithvi", "hardik"}

set3 = set2.union(set1)
print(set3)

# update set
set2.update(set1)
print(set2)

{'dhawan', 'ajinkya', 'prithvi', 'hardik', 'rahul', 'rohit'}
{'dhawan', 'ajinkya', 'prithvi', 'hardik', 'rahul', 'rohit'}

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [18]:
def missing_item(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst] 
  
 
lst = [1, 2, 4, 10, 7, 12, 11,5,8] 
print(missing_item(lst))

[3, 6]

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155

In [17]:
list1 = [21, 22, 23, 24, 21, 22, 23, 25, 26, 27]
print('List with duplicate elements: ',list1)
list2 = list(set(list1))
print('List with unique elements: ',list2)

List with duplicate elements:  [21, 22, 23, 24, 21, 22, 23, 25, 26, 27]
List with unique elements:  [21, 22, 23, 24, 25, 26, 27]